@font-face {
    font-family: 'pixeled';
    src: url(pixeled.ttf);
}

:root {
    --gray: #383E42;
    --blue: #0B5A93;
    --darkgreen: #0E1708;
    --salmon: #D9886A;
    --green: #8CCFAE;
}

* {
    margin: 0px;
    padding: 0px;
}

.none {
    display: none;
}

body {
    margin: auto;
    font-family: 'pixeled', Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    max-width: 400px;
}
body p {
    font-size: 1em;
}

div#menu {
    margin-top: 50%;
}

div#logo {
    margin: auto;
}

p {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.600);
}

div#logo img {
    display: block;
    margin: auto;
}

input.button {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    font-family: 'pixeled', Arial, Helvetica, sans-serif ;
    height: 50px;
    width: 150px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.600);
    border-radius: 25px;
}

input.button:hover {
    background-color: black;
    color: white;
    border: solid 3px white;
}

div#rules {
    margin: auto;
    margin-top: 50%;
    background-color: white;
    width: 295px;
    height: 295px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.600);
}

div#rules img {
    display: block;
    margin: auto;
}

#winner, #loser {
    margin-top: 50%;
}

#gameplay {
    background-color: black;
    margin: auto;
    margin-top: 50%;
    height: 530px;
    color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.600);
}

#player-score, #cpu-score {
    background-color: var(--gray);
    border: solid 2px black;
    border-radius: 5px;
}

#score {
    display: flex; 
    justify-content: center;
}

#score div{
    padding: 0px 20px 0px 20px;
}

 #match {
    display: flex;
    background-color: white;
    max-width: 400px;
}

#playermove , #cpumove {
    background-color: rgba(0, 0, 0, 0.322);
    width: 200px;
    height: 180px;
    padding-top: 20px;
    text-align: center;
    
}

#movement {
    margin-top: 30px;
    margin-bottom: 30px
}

#movement input {
    background-color: gray;
    margin-left: 8%;
}





 





















