@font-face {
    font-family: 'pixeled';
    src: url(pixeled.ttf);
}

:root {
    --gray: #383E42;
}

* {
    margin: 0px;
    padding: 0px;
}

.none {
    display: none;
}

body {
    margin: auto;
    font-family: 'pixeled', Arial, Helvetica, sans-serif;
    background-color: var(--gray);
    max-width: 400px;
}
body p {
    font-size: 1em;
}

div#menu {
    margin-top: 25%;
}

div#logo {
    margin: auto;
}

p {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.600);
}

div#logo img {
    display: block;
    margin: auto;
}

input.button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    font-family: 'pixeled', Arial, Helvetica, sans-serif ;
    height: 50px;
    width: 150px;
    border: solid 3px black;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.600);
    border-radius: 25px;
}

input.button:hover {
    background-color: black;
    color: white;
    border: solid 3px white;
}

div#rules {
    margin: auto;
    margin-top: 20%;
    background-color: white;
    width: 295px;
    height: 295px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.600);
}

div#rules img {
    display: block;
    margin: auto;
}

#winner, #loser {
    margin-top: 25%;
}

#gameplay {
    background-color: black;
    margin: auto;
    margin-top: 10%;
    height: 530px;
    color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.600);
}

#pscore, #cscore {
    background-color: var(--gray);
    border: solid 2px black;
    border-radius: 5px;
}

#score {
    display: flex; 
    justify-content: center;
}

#score div{
    padding: 0px 20px 0px 20px;
}

 #match {
    display: flex;
    background-color: white;
    max-width: 400px;
}

#playermove , #cpumove {
    background-color: rgba(0, 0, 0, 0.322);
    width: 200px;
    height: 180px;
    padding-top: 20px;
    text-align: center;
    
}

#movement input {
    display: none;
}

label {
    display: inline-block;
    text-align: center;
    margin: 30px 14px 20px 14px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

label img {
    text-align: center;
}

label:hover {
    background-color: var(--gray);
    border-radius: 15px;
    transition-duration: .2s;
    
}









 





















