@font-face {
    font-family: 'pixeled';
    src: url(pixeled.ttf);
}

:root {
    --cor01: #383E42;
    --cor02: #0B5A93;
    --cor03: #0E1708;
    --cor04: #D9886A;
    --cor05: #8CCFAE;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    font-family: 'pixeled', Arial, Helvetica, sans-serif;
    background-color: var(--cor01);
    max-width: 600px;

}

div#menu {
    margin-top: 50%;
}

body div#menu div {
    background-color: white;
    color: black;
    text-align: center;
    border: solid 3px black;
    width: 200px;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
}

div#rules {
    margin: auto;
    background-color: white;
    border: solid 3px black;
    border-radius: 25px;
    width: 450px;
    height: 400px;
}

div#rules img {
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 350px;
    height: 350px;
}

div.back {
    background-color: white;
    border: solid 3px black;
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;
    width: 100px;
    text-align: center;
    
    
}